.el-button {
  border-radius: 5px;
}

.el-button--primary {
  background: rgb(8, 123, 255);

  &:hover {
    background: rgba(8, 123, 255, 0.792);
  }
}

.el-textarea {
  height: 100%;

  .el-textarea__inner {
    height: 100%;
  }
}

.el-collapse-item__header {
  background: none;
}

.el-collapse-item__wrap {
  background: none;
}

.el-tabs__nav-wrap::after {
  display: none;
}
.el-avatar{
  background: #fff;
}